body {
    font-family: 'Catamaran', sans-serif;
    background-image: url("static/images/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.ingredients {
    white-space: pre-wrap;
    background-color: red;
}

.background-image {
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.page-container {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 220px;
}

.container {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 40px;
}

h2 {
    color: #56A3A6;
    font-style: bold;
}

/*---------Home-------------*/

.welcome {
    padding-top: 30px;
}

.row {

}

/*---------Footer----------*/

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #56A3A6;
}

.footer-container{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}

.footer-links {
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0px;
}

.footer-container a:hover {
    color: #4F756B;
    text-decoration: none;
}

.footer-container a {
    padding: 0 20px;
    color: #ffffff;
}

.copyright {
    display: block;
    position: relative;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 10px 0px;
}

.copyright i {
    color: #ffffff!important;
    display: inline-block;
    position: relative;
    padding: 0 5px;
}

.social-media {
    padding: 10px 0px;

}
.social-media a {
    font-size: 36px;
    padding: 0px 20px;
}

.social-media a:hover {
    color: #4F756B;
    text-decoration: none;
}

/* show recipe page */

.show-recipe-container {
    display: block;
    position: relative;
}

.recipe-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.show-recipe {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
}

.show-recipe-image {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 0px;
}

.show-recipe-title {
    padding: 10px 0px;
    color: #56A3A6;
}

.show-recipe-summary {
    display: inline-block;
    position: relative;
}

.show-recipe-icon {
    display: block;
    position: relative;
}

.recipe-accordion-button {
    font-size: 24px;
}

.recipe-method {
    white-space: pre-wrap;
    font-size: 16px !important;
}

.icon-label {
    margin-right: 5px;
    margin-left: 5px;
}

.image-icons-inset {
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.icon-box {
    display: inline-block;
    position: relative;
    clear: left;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color:white;
    padding: 5px 0px;
}

.inset-icons {
    color: #56A3A6;
}


/* -------- Advertising space ----------*/

.advert-container {
    display: block;
    position: relative;
    padding: 50px;
}

.advert-column {
    text-align: center;
    padding: 0px;
}

.advert-image {
    max-width: 100%;
}

.advert-text {
    display: block;
    position: absolute;
    padding: 15px;
    background-color: #56A3A6;
    opacity: 0.5;
    top: 8px;
    left: 8px;
    z-index: 1;
}

/*----------Browse Recipes ----------*/

.browse-recipe-column {
    display: block;
    position: relative;
    padding: 0px;
}

.browse-recipe {
    display: block;
    position: relative;
    padding: 0px;
    margin: 15px 40px;
    overflow: hidden;
    float: left;
    clear: both;
    background-color: white;
    border-radius: 10px;
}

.browse-recipe-inset {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}

.browse-recipe-title {
    padding: 10px 0px;;
    color: #56A3A6;
}

.browse-recipe-summary {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-details-container {
    padding: 15px;
}

.btn {
    background-color: #56A3A6;
    color: white;
}

a:link,
a:visited,
a:active,
a:hover {
    color: white;
    text-decoration: none;
}

.search-box {
    padding-bottom: 20px;
}

.search {
    margin: 10px 0px;
}

/*---------My Recipes----------*/

.my-recipes-image-container {
    width: 100%;

}

.my-recipes-image {
    max-width: 100%;
}

