body {
    font-family: 'Catamaran', sans-serif;
    background-color: #E4E6C3;
}

.ingredients {
    white-space: pre-wrap;
    background-color: red;
}

/* show recipe page */

.show-recipe-container {
    display: block;
    position: relative;
    margin: 50px 0px;
}

.recipe-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.show-recipe {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.show-recipe-image {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 0px;
}

.show-recipe-title {
    padding: 10px 0px;
    color: #56A3A6;
}

.show-recipe-summary {
    display: inline-block;
    position: relative;
}

.show-recipe-icon {
    display: block;
    position: relative;
}

.recipe-accordion-button {
    font-size: 24px;
}

.recipe-method {
    white-space: pre-wrap;
    font-size: 16px !important;
}

.icon-label {
    margin-right: 5px;
    margin-left: 5px;
}

.image-icons-inset {
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.icon-box {
    display: inline-block;
    position: relative;
    clear: left;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color:white;
    padding: 5px 0px;
}

.inset-icons {
    color: #56A3A6;
}


/* -------- Advertising space ----------*/

.advert-container {
    display: block;
    position: relative;
    padding: 50px;
}

.advert-column {
    text-align: center;
    padding: 0px;
}

.advert-image {
    max-width: 100%;
}

.advert-text {
    display: block;
    position: absolute;
    padding: 15px;
    background-color: #56A3A6;
    opacity: 0.5;
    top: 8px;
    left: 8px;
    z-index: 1;
}

/*----------Browse Recipes ----------*/

.browse-recipe-container {
    margin-top: 100px;
}

.browse-recipe-column {
    display: block;
    position: relative;
    padding: 0px;
}

.browse-recipe {
    display: block;
    position: relative;
    padding: 0px;
    margin: 50px 30px;
    overflow: hidden;
    float: left;
    clear: both;
    background-color: white;
    border-radius: 10px;
}

.browse-recipe-inset {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
}

.browse-recipe-title {
    padding: 10px 0px;;
    color: #56A3A6;
}

.browse-recipe-summary {
    font-size: 16px;
}

.view-details-container {
    padding: 15px;
}

.btn {
    background-color: #56A3A6;
    color: white;
}

a:link,
a:visited,
a:active,
a:hover {
    color: white;
    text-decoration: none;
}


/*---------My Recipes----------*/

.my-recipes-image-container {
    width: 100%;

}

.my-recipes-image {
    max-width: 100%;
}

/*---------Footer----------*/

.footer-container {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #56A3A6;
}