{% extends 'base.html'%} {% block content %}
<h1>Got a new recipe you'd like to share?</h1>

<p>Add some text here about adding new recipes to the collection</p>
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            {{ recipe.title }}
        </li>
        {% endfor %}

    </ul>
</div>

<form>
  <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Add your recipe title...">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Ingredients</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add your ingredients here..."></textarea>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Method</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add your method here..."></textarea>
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Tags</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Help other users find your recipe by adding keyword tags e.g. vegetarian, easy">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
</form>


{% endblock %}



