{% extends 'base.html'%} {% block content %}
<h1>Got a new recipe you'd like to share?</h1>

<p>Add some text here about adding new recipes to the collection</p>

<form action="{{ url_for('insert_recipe') }}" method="POST">
    <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Image</label>
    <input name="image" id="image" type="text" class="form-control" placeholder="enter image url">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Title</label>
    <input name="title" id="title" type="text" class="form-control" placeholder="Add your recipe title...">
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Ingredients</label>
    <textarea name="ingredients" id="ingredients" class="form-control" rows="3" placeholder="Add your ingredients here..."></textarea>
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Method</label>
    <textarea name="method" id="method" class="form-control" rows="3" placeholder="Add your method here..."></textarea>
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Tags</label>
    <input name="tags" id="tags" type="text" class="form-control" placeholder="Help other users find your recipe by adding keyword tags e.g. vegetarian, easy">
    </div>
    <div class="form-row">
        <div class="col">
            <label for="formGroupExampleInput">Prep Time</label>
            <input type="number" class="form-control" placeholder="20">
        </div>
        <div class="col">
            <label for="formGroupExampleInput">Cooking Time</label>
            <input type="number" class="form-control" placeholder="60">
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-success" type="submit">Add Recipe</button>
    </div>
</form>


    {% endblock %}



