{% extends 'base.html'%} 

{% block content %}

<div class="edit-recipe-container">

<h2>Edit your recipe</h2>

<form action="{{ url_for('update_recipe', recipes_id=recipes._id)}}" method="POST">
    <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Image</label>
    <div class="col">
        <img class="edit-recipe-image" src="{{ recipes.image }}" alt="recipe image">
    </div>
    <input name="image" id="image" type="text" class="form-control" value="{{ recipes.image }}">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Title</label>
    <input name="title" id="title" type="text" class="form-control" value="{{ recipes.title }}">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Recipe Summary</label>
    <textarea name="summary" id="summary" class="form-control" rows="3" maxlength="500" placeholder="Add a summary about your recipe...">{{ recipes.summary }}</textarea>
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Ingredients</label>
    <textarea name="ingredients" id="ingredients" class="form-control" rows="5">{{ recipes.ingredients }}</textarea>
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Method</label>
    <textarea name="method" id="method" class="form-control" rows="5">{{ recipes.method }}</textarea>
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Tags</label>
    <input name="tags" id="tags" type="text" class="form-control" value="{{ recipes.tags }}">
    </div>
    <div class="form-row">
        <div class="col">
            <label for="formGroupExampleInput">Prep Time</label>
            <input name="prep_time" type="number" class="form-control" placeholder="20" value="{{ recipes.prep_time }}">
        </div>
        <div class="col">
            <label for="formGroupExampleInput">Cooking Time</label>
            <input name="cooking_time" type="number" class="form-control" placeholder="60"value="{{ recipes.cooking_time }}">
        </div>
        <div class="col">
            <label for="formGroupExampleInput">Total Time</label>
            <input name="total_time" type="number" class="form-control" placeholder="80"value="{{ recipes.total_time }}">
        </div>
    </div>
    <div class="form-row">
        <button class="submit btn" type="submit">Update Recipe</button>
        <button class="submit btn"><a href="{{ url_for('my_recipes') }}">Back</a></button>
        <button class="submit btn"><a href="{{url_for('delete_recipe', recipe_id=recipes._id)}}">Delete</a></button>
    </div>
</form>

</div>


{% endblock %}