{% extends 'base.html' %}

{% block content %}

<div class="container browse-recipe-container">

<div class="welcome">
    <h2>Welcome to Whats4T?!</h2>
    <ul>
        <li>Having trouble finding inspiration for tonights dinner?</li>
        <li>Got some ingredients left over that you don't know what to do with?</li>
        <li>Are the kids hungry and you need something quick yet healthy?</li>
    </ul>
    <p>We have a community of like minded people out there who have kindly shared all the recipes you need to help you make that all important decision!</p>
</div>
<hr>
<h2>Recently added recipes...</h2>

    <div class="row">

        {% for add in recently_added %}

        <div class="col-md-5 col-lg-5 browse-recipe">
            <div class="col-md-12 col-lg-12 browse-recipe-column"> 
                <img class="recipe-image" src="{{ add.image }}" alt="recipe image">
                <div class="browse-recipe-inset col-md-10 col-lg-10">
                    <div class="col-md-12 col-lg-12">
                        <h3 class="browse-recipe-title">{{ add.title }}</h2>
                        <p class="browse-recipe-summary">{{ add.summary }}</p>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <i class="fas fa-clock"></i><span class="icon-label">Total:</span><span class="icon-content">{{ add.total_time }} mins</span>
                        <i class="far fa-thumbs-up"></i><span class="icon-label">Views:</span><span class="icon-content">{{ add.views_count }}</span>
                    </div>
                    <div class="col-md-12 col-lg-12 view-details-container">
                        <button class="btn" type="submit"><a href="{{url_for('show_recipe', recipe_id=add._id)}}">View recipe</a></button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<hr>

<div class="container browse-recipe-container">

<h2>Most viewed recipes...</h2>

    <div class="row">

        {% for view in most_viewed %}

        <div class="col-md-5 col-lg-5 browse-recipe">
            <div class="col-md-12 col-lg-12 browse-recipe-column"> 
                <img class="recipe-image" src="{{ view.image }}" alt="recipe image">
                <div class="browse-recipe-inset col-md-10 col-lg-10">
                    <div class="col-md-12 col-lg-12">
                        <h3 class="browse-recipe-title">{{ view.title }}</h2>
                        <p class="browse-recipe-summary"> {{ view.summary }} </p>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <i class="fas fa-clock"></i><span class="icon-label">Total:</span><span class="icon-content">{{ view.total_time }} mins</span>
                        <i class="far fa-thumbs-up"></i><span class="icon-label">Views:</span><span class="icon-content">{{ view.views_count }}</span>
                    </div>
                    <div class="col-md-12 col-lg-12 view-details-container">
                        <button class="btn" type="submit"><a href="{{url_for('show_recipe', recipe_id=view._id)}}">View recipe</a></button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>


{% endblock %}