{% extends 'base.html' %}

{% block content %}

<div class="container login-container">

    <div class="welcome">
        <h2>Welcome back to Whats4T?!</h2>
        <p>Sign in to create and update your recipes</p>
    </div>

<form method="POST" action="">
    {{ form.csrf_token }}
  <div class="form-group">
    {{ form.email.label(class="form-control-label") }}
    {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.email(class="form-control") }}
    {% endif%}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    {{ form.password.label (class="form-control-label") }}
    {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
    {% else %}
        {{ form.password(class="form-control") }}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.remember(class="form-check-input")}}
    {{ form.remember.label (class="form-check-label")}}

  </div>
  <div class="form-group">
    {{ form.submit(class="submit btn btn-outline-info") }}
  </div>
</form>
<div>
    <span>Don't have an account?<a class="link" href="{{ url_for('register') }}"> Register here</a></span>
</div>

</div>
{% endblock %}