{% extends 'base.html'%} 
{% block content %}

<div class="container">

    <div class="welcome">
        <h2>Looking for something?</h2>

        <p>Use our handy search box below to help you find something to suit!</p>
        <ul>
            <li>Use the keywords search field to find recipes that contain key words such as ingredients you'd like to use</li>
            <li>Use the total time search field to find recipes with a maximum prep and cooking time </li>
        </ul>
    </div>

    <div class="search-box row">
        <div class="col-md-6">
            <form action="{{url_for('find_recipes_by_keywords')}}" method="POST">
                <input name="search_word" id="search_word" class="form-control" type="text" placeholder="Search for recipes using keywords i.e. pasta">
                <button class="search btn" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-6">
            <form action="{{url_for('find_recipes_by_total_time')}}" method="POST">
                <input name="search_total_time" id="search_total_time" class="form-control" type="number" placeholder="Search for recipes with a maximum time">
                <button class="search btn" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row">

        {% for recipe in recipes %}

        <div class="col-xs-12 col-md-5 browse-recipe">
            <div class="col-md-12 browse-recipe-column"> 
                <img class="recipe-image" src="{{ recipe.image }}" alt="recipe image">
                <div class="browse-recipe-inset col-xs-6 col-md-10">
                    <div class="col-md-12">
                        <h3 class="browse-recipe-title">{{ recipe.title }}</h2>
                        <p class="browse-recipe-summary">{{ recipe.summary }}</p>
                    </div>
                    <div class="col-md-12">
                        <div><i class="fas fa-clock"></i><span class="icon-label">Total:</span><span class="icon-content">{{ recipe.total_time }} mins</span></div>
                        <div><i class="far fa-thumbs-up"></i><span class="icon-label">Views:</span><span class="icon-content">{{ recipe.views_count }}</span></div>
                    </div>
                    <div class="col-md-12 view-details-container">
                        <button class="btn" type="submit"><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">View recipe</a></button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

        <div class="page-numbers-container col-md-12">
        {% for n in page_range %}
            <div class="page-numbers"><a href="{{url_for('browse_recipes', page=n)}}">{{ n }}</a></div>
        {% endfor %}
        </div>

</div>

{% endblock %}