{% extends 'base.html'%} 

{% block content %}

    <h2>{{recipes.title}}this is text</h2>
    <img class="recipe-image" src="{{ recipes.image }}" alt="recipe image">
    <div>
        <p>{{ recipes.summary }}</p>
    </div>
    <div>
        <span><i></i>{{ recipes.prep_time }}</span>
        <span><i></i>{{ recipes.cooking_time }}</span>
        <span><i></i>{{ recipes.total_time }}</span>
        <span><i></i>{{ recipes.likes_count }}</span>
    </div>
    <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ingredients
            </button>
        </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            {{ recipes.ingredients }}
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Method
            </button>
        </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            {{ recipes.method }}
        </div>
        </div>
    </div>
    </div>
            
{% endblock %}